body {
  --black: #000;
  --gray: #333;
  --white: #fff;
  --red: #ff0000;
  --red-active: #970505;

  boz-sizing: border-box;
  margin: 0;
  background: var(--black);
  color: var(--white);

  font-family: "Open Sans Variable", sans-serif;
}

input[type="file"]::file-selector-button {
  margin-right: 20px;
  border: none;
  background: var(--red);
  font-size: 1rem;
  padding: 0.5rem;
  border-radius: 10px;
  color: var(--white);
  cursor: pointer;
  transition: background 0.2s ease-in-out;
}

input[type="file"]::file-selector-button:hover {
  background: var(--red-active);
}

main {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}
/* Styling for the application */
h1 {
  font-size: 3rem;
  font-weight: 300;
}

p {
  margin: 10px 0;
}

.display {
  display: grid;
  grid-auto-flow: column;
  gap: 0.5rem;
  border: 1px solid var(--white);
  margin-block: 3rem;

  & section {
    display: grid;
    grid-auto-flow: column;
    gap: 0.5rem;
    padding: 0.3rem;

    &:nth-child(even) {
      background: var(--white);
    }
  }
  & button {
    font-size: 0;
    height: 2rem;
    width: 2rem;
    border: none;
    border-radius: 50%;
    background: var(--gray);

    &.current {
      background: var(--red);
    }
  }
}

a,
button {
  color: var(--white);
  border: none;
  border-radius: 10px;
  background: var(--red);
  text-decoration: none;
  padding: 0.5rem;

  &:hover {
    background: var(--red-active);
  }
}

.stack {
  display: grid;
  grid-auto-flow: column;
  justify-content: start;
  gap: 0.5rem;
}
